

* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', Arial, sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
.clearfix::after, clearfix::before {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.underline {
    height: 8px;
    background-color: #24BA9F;
}









/*
*
* ------------ HEADER SECTION ---------
*
*/
header {
    width: 100%;
    padding: 10px 0;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-size: 14px

}

header .logo {
    float: left;

}

.green-text {
    color: #24ba9f;
    font-weight: bold;
}

header ul {
    float: right;
    list-style: none;
    font-weight: bold;
}

header ul li {
    float: left;
    margin-left: 50px;
}

header ul li a:link, header ul li a:visited {
    color: #f0f0f0;
}

header ul li a:hover {
    color: white;
}








/*
*
* ------------ GALLERY SECTION ---------
*
*/
#gallery {
    width: 100%;
    height: 500px;
    background: linear-gradient(#fafafa, #d1d0d5);

}

.gallery {
    position: relative;
    padding-top: 130px;
}




.gallery-center-img {
    position: relative;
    float: left;
    width: 50%;
/*    margin-top: 90px;*/
}

.gallery-center-img img {
    width: 120%;
    margin-left: -40px;
    margin-top: -70px;
}

.gallery::before {
    height: 100px;
    width: 50px;
    content: "<";
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto 0;
    color: #24ba9f;
    font-size: 90px;
    font-weight: 200;
    line-height: 100px;
}

.gallery::after {
    height: 100px;
    width: 50px;
    content: ">";
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto 0;
    color: #24ba9f;
    font-size: 90px;
    font-weight: 200;
    line-height: 100px;
}

.gallery-center-text-wrapper {
/*    position: relative;*/
    float: left;
    width: 50%;
    height: 341px;
    text-align: center;
    padding-right: 125px;
    margin-bottom: auto;
}



.gallery-center-text-wrapper h1 {
    margin-bottom: 15px;
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
}

article p {
    color: #000000;
    font-weight: 500;
    line-height: 20px;
    font-size: 14px
}

.gallery-center-text-wrapper .button {
    width: 250px;
    height: 50px;
    border-radius: 10px;
    padding-top: 13px;
    background-color: #24ba9f;
    margin: 0 auto;
    margin-top: 30px;
}

.gallery-center-text-wrapper a {
    text-transform: uppercase;
    font-size: 20px
}

.gallery-center-text-wrapper a:link, .gallery-center-text-wrapper a:visited {
    text-decoration: none;
    color: white;
}









/*
*
* ------------ SHOP SECTION ---------
*
*/
#shop {
    background-color: white;
    width: 100%;
    height: 350px;
}

.offer {
    margin-top: 40px;
    position: relative;
    float: left;
    width: 320px;
/*    height: 250px;*/

}



.offer.first {
    background: white url("../img/box1_img.jpg");

}

.offer.second {
    background: white url('../img/box2_img.jpg')
}

.offer.last {
    width: 320px;
    height: 250px;
    border: 1px solid #dbdbdb;
}

/* ustawienie ich w jednej linii obok siebie z odstępami*/
#shop .offer:not(.last) {
    margin-right: 20px;
    height: 220px
}

.offer-info {
    height: 60px;
    margin-top: 145px;
    background-color: rgba(234, 234, 234, 0.58)
}

.offer-info-content {
    width: 140px;
    margin-left: 15px;

}

.offer-info-content p {
    margin-top: 10px;
    margin-right: 25px;
    color: #7e7e7e;
    line-height: 22px
}


.offer-info h3 {
    padding-top: 15px;
    padding-left: 5px;
    font-size: 16px;
    font-weight: 600;
}

#shop .underline {
    width: 140px;
}

.second .offer-info h3, .last .offer-info h3  {
    padding-left: 0;
}

.last .offer-info {
    background-color: white;
    margin-top: 15px;
}

.last .offer-info-content {
    width: 100%;
    margin-right: 15px;
    height: 100%
}










